@media (max-width: 1215px){  
    div#sidebar { width: 100%; }
    div#content { width: 100%; }
    /*div#content img.left, div#content img.right, div#content img.center { width: 100%;
    margin: 0px auto 20px auto;} - tak, gdybym chciała obrazki zrobić na 100%!!!*/
}
/*div#header h1 {font-size: 45px;} - jeśli font chcę zmienić dla mniejszych obrazów
a w media (min-width) zmieniam na font size 60px*/ 
@media (min-width: 1216px){
    div#sidebar { width: 25%; }
    div#content { width: 75%; }
    div.fixed  {width: 300px} /*przeniosłam to z div.fixed, żeby się dopasowywało*/
    div#content img { width: 200px; margin-top: 0px; display:block;}
    div#main {width: 1200px}
}

/* trzeba usunąć sztywne wartości z sidebaru, kontentu, main itd z width*/
body {
    margin: 0px;
    background-image: url("images/tlo2.jpg");
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    
    /*font-family: "Courier New", Courier, monospace*/
}


div#sidebar a {
    text-align: center;
    margin: 1px;
    padding: 10px 5px;
    background-color: lightgray;
    display: block;
    text-decoration: none;
    color: black;
}

div#sidebar a:hover {
    background-color: darkgray;
    color: black;
    font-weight: bold;
}

a.active {
	background-color: #000!important;
    color: #fff!important;
}

div#main {
    display: block;
    margin: 0px auto;
    
    /*background-color: white;*/
    box-shadow: 0px 0px 50px #000;
    background-color: rgba(255,255,255,0.40);}
    /*background-color: 255,255,255,0,8; i gdybym tak zrobiła i wyrzuciła kolory z sidebaru i contanta, to w tle będzie półprzezroczysty obraz tła. ostatni parametr to opacity*/
    

div#header {
    background-image: url("images/header.jpg");
    background-position: center;
    float: left;
    width: 100%;
    height: 300px;
    background-color: #d4d4d4;
    display: table;
}

div#header h1 {
    color: white ;
    font-size: 3em;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 0px 0px 15px black;
    
    
}

div#sidebar {
   float: left;
    
    /*background-color: white;*/
}

div#content {
    float: right;
    
    /*background-color: white;*/
}

div#content h2 {
    
    font-size: 2em;
    text-align: right;
    margin-right: 10%;
}

div#content h3 {
    
    padding: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    text-decoration: underline;
    font-size: 1em;
}

div#content * {
    margin: 20px;
    text-align: justify;
}
div#content p {
    text-indent: 50px;
    
}
div#content p#kontakt {
    text-indent: 0px;
}

/*div#content img{
    width: 200px; 
    float: right;
    margin: 5px 5px 10px 10px;
}*/
div#content img {
width: 200px; margin-top: 0px; display:block; 
}

div#content img.left { float: left;}
div#content img.right { float: right;}
div#content img.center { margin: 0px auto 20px auto;}
div#content img#srodek { margin: 0px auto 20px auto;
                        width: 400px; height: 200px;}

ul {
    background: #e0e0d1;
    padding: 40px;
}
ul li {
    background: #f5f5f0;
    margin: 5px;
}



div#footer {
    clear:both;
    width: 100%;
    height: 100px;
    background-color: lightgray;
    text-align: center;
    display: table;
}

div#footer p {
     
    vertical-align: middle;
    display: table-cell;
}
div.fixed {
    color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    /*width: 300px;*/
    border: 3px double black;
    background-color: #EEEEEE;
    padding: 10px;
    font-size: 0.9em;   
}

div#contact * {
    
    margin: 5px;
    
}
div#contact img#send { width: 100px;
border-radius: 10px;
}
div#contact button#button {
   padding: 5px; background-color: #d20025;
border-radius: 10px;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-size: 1.2em;
text-align: center;
}
div#contact td#sendcenter{
    text-align: center;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d20025;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #d20025;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #d20025;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
:-moz-placeholder { /* Firefox 18- */
  color: #d20025;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
